# Operating System Files

*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# Build Files #

bin
target
build
.gradle

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# VS Code #
.vscode/

# Postgres Volume
db/

tempo-data/

kafka/local/cluster/jars
shadowtraffic/license.env